# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List Popular languages that data scientists use
* List common libraries data scientists use
* Display arithemetic expressions used in jupyter
* Create an expression that converts minutes to hours

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. caret
2. numpy
3. matplotlib
4. pandas


|Data Science Tools|
|------------------|
|Jupyter|
|RStudio|
|GitHub|

### Below are a few examples of evaluating arithmetic expressions in Python
- **Subtraction:** `5 - 2`
- **Multiplication:** `4 * 3`
- **Division:** `10 / 2`
- **Exponentiation:** `3 ** 2`
- **Modulo (Remainder):** `10 % 3`

In [7]:
#This will convert 200 minutes to hours by diving by 60
x = 200
y = x/60
y

3.3333333333333335

In [8]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

## Author

Netra Sarwade